.wp-block-app-blocks-controls {

  p {
    background-color: #ffe6e6;
    padding: 20px;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--center {
    text-align: center;
  }

}
